
    <!doctype html>
    <html>
    <head>
    <title>SYSMOND</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <style>

body {
}


.service {
    width: 200pt;
    float: left;
    margin: 4pt;
    padding: 4pt;
    border: gray solid 2pt;
    border-radius: 8pt;
}

.host {
    width: 200pt;
    float: left;
    margin: 4pt;
    padding: 4pt;
    border: gray solid 2pt;
    border-radius: 8pt;
}

h2 {
    margin-top: 6pt;
    margin-bottom: 6pt;
}

div[status="inactive"] {
  background-color: gray;
}
div[status="true"] {
  background-color: #7bf07b;
}
div[status="false"] {
  background-color: #f05b5b;
}

    </style>
    </head>
    <body>

        <div class="content">
            <h2> SYSMOND </h2>

            <h3>Zařízení</h3>
            <div>
                <div class="hosts" style="display:flex;">

                </div>
            </div>

            <h3>Systémové služby</h3>
            <div>
            <div class="group" style="display:flex;">

            </div>
        </div>

        </div>

    </body>

<template>
<div class="service" status="inactive">
  <h2 class="name"></h2>
  <div class="service_name"><div>
</div>
</template>

<template>
<div class="host" status="inactive">
  <h2 class="name"></h2>
  <div class="ping"><div>
</div>
</template>

    <script>

get_data();
setInterval(get_data, 1000);

function update_tabs(data){
    //console.log("Testovaci data")
    //console.log(data);
    for(host in data['hosts']) {
        var service = data['hosts'][host]
        hostname = host.replaceAll('.', '_')
        if( !$('#'+hostname).length )         // use this if you are using id to check
        {
            var temp = document.getElementsByTagName("template")[1].content.cloneNode(true);
            $(temp).find(".name").text(host)
            $(temp).find(".ping").text(service)
            $(temp).find(".host").attr('id', host)

            $('.hosts').append(temp);
        }
        //

        $('#'+hostname).find(".ping").text(Math.round(service*1000000)/1000.0)
        console.log("HOST", hostname, service)

    }
    for(element in data['data']) {
        var service = data['data'][element]
        if( !$('#'+service['name']).length )         // use this if you are using id to check
        {
            var temp = document.getElementsByTagName("template")[0].content.cloneNode(true);
            $(temp).find(".name").text(service['name'])
            $(temp).find(".service_name").text(service['service']+"@"+service['host']['ip'])
            $(temp).find(".service").attr('id', service['name'])
            $('.group').append(temp);
        }

        $('#'+service['name']).attr('status', service['status']['state'])
    }
    //console.log(data)
}

function get_data() {
    $.ajax({
            url: "/data",
            method: 'GET',
            success: function (data) {
                //console.log(data);
                update_tabs(JSON.parse(data));
            }
        });
}

    </script>

    </html>
